.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.carousel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.bookCard {
  flex: 0 0 auto;
  width: 175px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
}

.bookCover {
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  background-color: #fbfbfb;
}

.bookName {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.carouselTitle {
  font-size: 15px;
}
.Arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/* Style for WebKit browsers (Chrome, Safari) */
.carousel::-webkit-scrollbar {
  height: 2px; /* Horizontal scrollbar height */
}

.carousel::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ff5722; /* Bright thumb color */
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #ff9800; /* Darker thumb on hover */
}

.seeAllContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.seeAllContainer:hover {
  background-color: #f1f1f1;
  padding: 5px;
}

@media (max-width: 786px) {
  .bookCard {
    width: 155px;
  }
  .bookCover {
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  .bookName {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  .bookCard {
    width: 145px;
  }
}
