.categoryContainer {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  padding: 5px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.categoryList {
  display: flex;
  overflow-x: auto;
  gap: 5px;
  padding: 5px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.categoryList::-webkit-scrollbar {
  height: 2px;
}

.categoryList::-webkit-scrollbar-thumb {
  background: #605f5f;
  border-radius: 10px;
}

.categoryButton {
  flex: 0 0 auto;
  padding: 8px 15px;
  border: 0.2px solid;
  background: #fff;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

.categoryButton:hover {
  background: #ddd;
}

.active {
  background: #000;
  color: white;
  border: none;
  font-weight: bold;
}
