.LikedPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 65px;
}

.LikedPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  position: sticky;
  top: 5px;
}
.LikedPageHeading {
  font-size: 100%;
  color: #000;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 10px;
}

.LikedPageInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}
.LikedPictureBox {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
}
.LikedPicture {
  width: 40%;
  object-fit: contain;
}
.LikedPageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin-top: 1rem;
  border: none;
  background-color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
}

.likedpagebutton:hover {
  background-color: #ccc;
}
.settingsIcon {
  color: #000000;
  font-size: 1.5rem;
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
