.SingleBookPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 65px;
}

.SingleBookPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1000;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.back {
  width: 30px;
  margin: 10px;
}
.back:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 5px;
  box-sizing: border-box;
}
.BooKcover {
  height: 300px;
  margin-top: 10px;
}

.BooKcoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BookInfoBox {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.BooKInfo {
  display: flex;
  flex-direction: column;

  margin: 20px;
}
.Action {
  margin: 20px;
}

.ActionButton {
  border: none;
  background-color: #f2f9ff;
  cursor: pointer;
}

.LikeIcon {
  color: #f50057;
  width: 50px;
  height: 50px;
}

.BookActions {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.ActionButtonRead {
  width: 100%;
  padding: 15px;
  margin: 15px;
  border-radius: 100px;
  border: none;
  background-color: #000000;
  cursor: pointer;
  color: #ffff;
  font-weight: bold;
}
.ActionButtonListen {
  width: 100%;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  border: none;
  background-color: #000000;
  cursor: pointer;
  color: #ffff;
  font-weight: bold;
}
.BookDescription {
  padding: 15px;
}

.containerPlayer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 10px;
}

.controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ControlButtons {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #ffff;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
}
.ControlButtons:hover {
  background-color: #ccc;
}

.RangeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #ff8c00 0%, #ff4500 100%);
  border-radius: 1px;
  outline: none;
  margin: 10px 10px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

/* Customize the thumb for WebKit browsers (Chrome, Safari) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border: 3px solid #ff4500;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #ff4500;
}

/* Customize the thumb for Firefox */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border: 3px solid #ff4500;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.slider::-moz-range-thumb:hover {
  transform: scale(1.2);
  background: #ff4500;
}
