.AppPageContainer {
  width: 100%;
}

/* For WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Vertical scrollbar width */
  height: 2px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Darker thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker on hover */
}
